<html>
	<head>
		<title>Registration Form</title>
		<link rel="stylesheet" href="style/Registration.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
				img{
				  max-width:180px;
				}
				input[type=file]{
				padding:10px;
				background:#2d2d2d;}
				.hide{
					display:none;
					height: 0px;
				}
		</style>
	</head>  
	<body>		
		<div class="container">
			<div class="container2">
				<table align="center" width="650" height="50" class="two">
					<pre>


						<tr style="color:#dfc15e; font-size:30px;">
							<td colspan=3><h2 align="center" class="padded3"> <span class="english">Voter</span><span class="amharic"></span><br><span class="english">Registration Form</span><span class="amharic"></span></h2>



							</td>
						</tr>
					</pre>
				</table>
				<table align="center" width="750" height="50">
						<tr>
							<td class="info">
	<pre class="english"><b>  With this form:</b>
  You register to vote in elections in
  Ethiopia. You can also use this form to:
  - Update your voter registration record
  if you have changed your name or address

<b>  Deadline for submitting application:</b>
  Voter registration and updating of voter
  records is closed during the 3 months prior 
  to election in Ethiopia

<b><i>  Read & fill out the form carefully.</i></b>
					</pre>
<pre class="amharic hide"><b>  With this form:</b>
	You register to vote in elections in
	Ethiopia. You can also use this form to:
	- Update your voter registration record
	if you have changed your name or address
	
	<b>  Deadline for submitting application:</b>
	Voter registration and updating of voter
	records is closed during the 3 months prior 
	to election in Ethiopia
	
	<b><i>  Read & fill out the form carefully.</i></b>
						</pre>
					</td>
					<td class="info"><pre class="english"><b>To register to vote in Ethiopia you must:</b>
- Be a citizen of Ethiopia
- Live in  Ethiopia
- Be at least 18 years of age on or
 before election day.
- Not have been convicted, you must have
 had your civil rights restored.
<b>For Questions</b>
 Find anwers or tools on our website
 www.website.com or call
 +521978451254
</pre>
<pre class="amharic hide"><b>To register to vote in Ethiopia you must:</b>
	- Be a citizen of Ethiopia
	- Live in  Ethiopia
	- Be at least 18 years of age on or
	 before election day.
	- Not have been convicted, you must have
	 had your civil rights restored.
	<b>For Questions</b>
	 Find anwers or tools on our website
	 www.website.com or call
	 +521978451254
	</pre>
						</td>
						</tr>
						<tr>
						<td class="info" colspan="2">
<pre class="english">
<b>   WARNING:It is a crime to procure a false registration or to furnish information.</b></pre>
<pre class="amharic hide">
<b>   WARNING:It is a crime to procure a false registration or to furnish information.</b></pre>
</td></tr>
				</table>
<br>
<form>
				<table align="center" width="750" height="500" class="one">
					<tr>
						<td colspan=3 class="padded4" id="header"> <span class="english">QUALIFICATIONS</span><span class="amharic hide"></span><br>
							<font size="2px" color="white" face="arial" weight="none"><span class="amharic hide">If you answer No, you cannot register to vote</span></font>
						</td>
					</tr>
					<tr>
						<td class="padded5" id="text" colspan="2">
							<input required  type="checkbox" name="citzen" style="width:20px;height:20px;" id="citizen"/><span class="english">&nbspAre you a citzen of Ethiopia?</span><span class="amharic hide">&nbspAre you a citzen of Ethiopia?</span>
						</td>
					</tr>
					<tr>
						<td class="padded" id="text" colspan="2"><input required  type="checkbox" name="citzen" style="width:20px;height:20px;" id="age" />
							<span class="english">&nbspWill you be 18 or older on or before election day?</span>
							<span class="amharic hide">&nbspWill you be 18 or older on or before election day?</span>
						</td>
					</tr>
					<tr>
						<td colspan=3 class="padded4" id="header"> <span class="english">YOUR NAME</span><span class="amharic hide">YOUR NAME</span><br><font size="2px" color="white" face="arial" weight="none">
							<span class="english">As seen in your ID or Legal document</span>
							<span class="amharic hide">As seen in your ID or Legal document</span>
						</font>
						</td>
					</tr>
					<tr>
						<td id="text" class="padded5"><span class="english">FIRST NAME</span><span class="amharic hide">FIRST NAME</span><br><input required  type="text" class="text" name="First_Name" maxlength="30" style="width:200px;height:30px;" id="firstName"/><br><span class="english">(max 30)</span><span class="amharic hide">(max 30)</span>
						</td>
						<td id="text" class="padded6"><span class="english">FATHER'S NAME</span><span class="amharic hide">FATHER'S NAME</span><br><input required  type="text" class="text" name="First_Name" maxlength="30" style="width:200px;height:30px;" id="fatherName"/><br><span class="english">(max 30)</span><span class="amharic hide">(max 30)</span>
						</td>
						<td class="padded2" id="text"><span class="english">GRANDFATHER'S NAME</span><span class="amharic hide">GRANDFATHER'S NAME</span><br><input required  type="text" class="text" name="First_Name" maxlength="30" style="width:200px;height:30px;" id="grandFatherName"/><br><span class="english">(max 30)</span><span class="amharic hide">(max 30)</span>
						</td>
					</tr>
					<tr>
						<td colspan=3 class="padded4" id="header"> <span class="english">MORE INFORMATION</span><span class="amharic hide">MORE INFORMATION</span></td></tr>
					<tr>
						<td class="padded5" id="text"><span class="english">GENDER</span><span class="amharic hide">GENDER</span></td>
						<td colspan="2" id="text">
							<input required  type="radio" name="Gender" value="Male" style="width:15px;height:15px;" /><span class="english">Male</span><span class="amharic hide">Male</span>
 							<input required  type="radio" name="Gender" value="Female" style="width:15px;height:15px;" /><span class="english">Female</span><span class="amharic hide">Female</span>
						</td>
					</tr>
 
					<tr>
						<td class="padded"  id="text"><span class="english">DATE OF BIRTH</span><span class="amharic hide">DATE OF BIRTH</span></td> 
						<td colspan="2">
							<select name="Birthday_day" id="Birthday_Day" style="width:50px;height:30px;">
								<option value="-1">Day:</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								 
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								 
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								 
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select> 
							<select id="Birthday_Month" name="Birthday_Month" style="width:100px;height:30px;">
								<option value="-1">Month:</option>
								<option value="January">Jan</option>
								<option value="February">Feb</option>
								<option value="March">Mar</option>
								<option value="April">Apr</option>
								<option value="May">May</option>
								<option value="June">Jun</option>
								<option value="July">Jul</option>
								<option value="August">Aug</option>
								<option value="September">Sep</option>
								<option value="October">Oct</option>
								<option value="November">Nov</option>
								<option value="December">Dec</option>
							</select> 
							<select name="Birthday_Year" id="Birthday_Year" style="width:80px;height:30px;"> 
								<option value="-1">Year:</option>
								<option value="2012">2012</option>
								<option value="2011">2011</option>
								<option value="2010">2010</option>
								<option value="2009">2009</option>
								<option value="2008">2008</option>
								<option value="2007">2007</option>
								<option value="2006">2006</option>
								<option value="2005">2005</option>
								<option value="2004">2004</option>
								<option value="2003">2003</option>
								<option value="2002">2002</option>
								<option value="2001">2001</option>
								<option value="2000">2000</option> 
								<option value="1999">1999</option>
								<option value="1998">1998</option>
								<option value="1997">1997</option>
								<option value="1996">1996</option>
								<option value="1995">1995</option>
								<option value="1994">1994</option>
								<option value="1993">1993</option>
								<option value="1992">1992</option>
								<option value="1991">1991</option>
								<option value="1990">1990</option>								 
								<option value="1989">1989</option>
								<option value="1988">1988</option>
								<option value="1987">1987</option>
								<option value="1986">1986</option>
								<option value="1985">1985</option>
								<option value="1984">1984</option>
								<option value="1983">1983</option>
								<option value="1982">1982</option>
								<option value="1981">1981</option>
								<option value="1980">1980</option>
								<option value="2012">1979</option>
								<option value="2011">1978</option>
								<option value="2010">1977</option>
								<option value="2009">1976</option>
								<option value="2008">1975</option>
								<option value="2007">1974</option>
								<option value="2006">1973</option>
								<option value="2005">1972</option>
								<option value="2004">1971</option>
								<option value="2003">1970</option>
							</select>
						</td>
					</tr>
 					<tr>
						<td class="padded" id="text"><span class="english">MARITAL STATUS</span><span class="amharic hide">MARITAL STATUS</span></td>
						<td colspan="2" id="text">
							<input required  type="radio" name="Status" value="Single" style="width:15px;height:15px;" /> <span class="english">Single</span><span class="amharic hide">Single</span>
							<input required  type="radio" name="Status" value="Married" style="width:15px;height:15px;"/><span class="english">Married</span><span class="amharic hide">Married</span>
							<input required  type="radio" name="Status" value="Divorced" style="width:15px;height:15px;"/><span class="english">Divorced</span><span class="amharic hide">Divorced</span>
						</td>
					</tr>
					<tr>
						<td colspan=3 class="padded4" id="header"><span class="english">ADDRESS</span><span class="amharic hide">ADDRESS</span> <br><font size="2px" color="white" face="arial" weight="none"><span class="english">Where you can be contacted</span><span class="amharic hide"></span></font>
						</td>
					</tr>
					<tr>
						<td class="padded4" id="text"><span class="english">MOBILE NUMBER</span><span class="amharic hide">MOBILE NUMBER</span></td>
						<td colspan="2" class="padded3">
							<input required  type="text" class="text" name="Mobile_Number" id="number" maxlength="10" style="width:150px;height:30px;"/>(10 digit)
						</td>
					</tr>
					<tr>
						<td class="padded4" id="text"><span class="english">EMAIL ADDRESS</span><span class="amharic hide">EMAIL ADDRESS</span></td>
						<td colspan="2" class="padded4">
							<input required  type="text" class="text" id="email" name="Mobile_Number" maxlength="40" style="width:200px;height:30px;"/>
						</td>
					</tr>
					<tr>
						<td colspan=3 class="padded4" id="header"><span class="english">ADDRESS</span><span class="amharic hide">ADDRESS</span> <br><font size="2px" color="white" face="arial" weight="none"><span class="english">Where you live</span><span class="amharic hide">Where you live</span></font>
						</td>
					</tr>
					<tr></tr>
					<tr>
						<td colspan=3 class="padded5" id="text"><span class="english">REGION</span><span class="amharic hide">REGION</span></td>
					</tr>
					<tr>
						<td class="padded" id="text"><span class="english">CITY</span><span class="amharic hide">CITY</span></td>
						<td colspan="2" class="padded7">
							<select name="City" id="City" style="width:150px;height:30px;">
								<option value="-1">City:</option>
								<option value="Abomsa">Abomsa</option>
								<option value="Addiet Canna">Addiet Canna</option>
								<option value="Addis Ababa">Addis Ababa</option>
								<option value="Adigrat">Adigrat</option>
								<option value="Adis Alem">Adis Alem</option>
								<option value="Adis Zemen">Adis Zemen</option>
								<option value="Agar">Agaro</option>
								<option value="Arba Minch">Arba Minch</option>
								<option value="Arexa">Arexa</option>
								<option value="Asaita">Asaita</option>
								<option value="Asasa">Asasa</option>
								<option value="Asbe Teferi">Asbe Teferi</option>
								<option value="Asosa">Asosa</option>
								<option value="Awash">Awash</option>
								<option value="Axum">Axum</option>
								<option value="Bahir Dar">Bahir Dar</option>
								<option value="Bako">Bako</option>
								<option value="Bati">Bati</option>
								<option value="Bedele">Bedele</option>
								<option value="Bedesa">Bedesa</option>
								<option value="Bichena">Bichena</option>
								<option value="Bishoftu">Bishoftu</option>
								<option value="Boditi">Boditi</option>
								<option value="Bonga">Bonga</option>
								<option value="Bure">Bure</option>
								<option value="Butajira">Butajira</option>
								<option value="Dabat">Dabat</option>
								<option value="Debre Birhan">Debre Birhan</option>
								<option value="Debre Markos">Debre Markos</option>
								<option value="Debre Sina">Debre Sina</option>
								<option value="Debre Tabor">Debre Tabor</option>
								<option value="Debre Werk">Debre Werk</option>
								<option value="Deder">Deder</option>
								<option value="Dejen">Dejen</option>
								<option value="Dembi Dolo">Dembi Dolo</option>
								<option value="Dese">Dese</option>
								<option value="Dila">Dila</option>
								<option value="Dire Dawa">Dire Dawa</option>
								<option value="Dodola">Dodola</option>
								<option value="Dubti">Dubti</option>
								<option value="Felege Neway">Felege Neway</option>
								<option value="Fiche">Fiche</option>
								<option value="Finote Selam">Finote Selam</option>
								<option value="Gambela">Gambela</option>
								<option value="Gebre Guracha"></option>
								<option value="Gedo">Gedo</option>
								<option value="Gelmeso">Gelmeso</option>
								<option value="Genet">Genet</option>
								<option value="Gewane">Gewane</option>
								<option value="Gidole">Gidole</option>
								<option value="Gimbi">Gimbi</option>
								<option value="Ginir">Ginir</option>
								<option value="Goba">Goba</option>
								<option value="Gondar">Gondar</option>
								<option value="Gore">Gore</option>
								<option value="Hagere Hiywet">Hagere Hiywet</option>
								<option value="Hagere Maryam">Hagere Maryam</option>
								<option value="Hagere Selam">Hagere Selam</option>
								<option value="Harar">Harar</option>
								<option value="Hawassa">Hawassa</option>
								<option value="Hirna">Hirna</option>
								<option value="Hosa'ina">Hosa'ina</option>
								<option value="Huruta">Huruta</option>
								<option value="Inda Silase">Inda Silase</option>
								<option value="Jijiga">Jijiga</option>
								<option value="Jimma">Jimma</option>
								<option value="Jinka">Jinka</option>
								<option value="K'olito">K'olito</option>
								<option value="Kemise">Kemise</option>
								<option value="Kibre Mengist">Kibre Mengist</option>
								<option value="Kofele">Kofele</option>
								<option value="Kombolcha">Kombolcha</option>
								<option value="Korem">Korem</option>
								<option value="Lalibela">Lalibela</option>
								<option value="Leku">Leku</option>
								<option value="Maych'ew">Maych'ew</option>
								<option value="Mega">Mega</option>
								<option value="Mekele">Mekele</option>
								<option value="Mendi">Mendi</option>
								<option value="Metehara">Metehara</option>
								<option value="Metu">Metu</option>
								<option value="Mizan Teferi">Mizan Teferi</option>
								<option value="Mojo">Mojo</option>
								<option value="Nazret">Nazret</option>
								<option value="Nejo">Nejo</option>
								<option value="Robit">Robit</option>
								<option value="Sebeta">Sebeta</option>
								<option value="Semera">Semera</option>
								<option value="Sendafa">Sendafa</option>
								<option value="Shakiso">Shakiso</option>
								<option value="Shambu">Shambu</option>
								<option value="Shashemene">Shashemene</option>
								<option value="Sirre">Sirre</option>
								<option value="Sodo">Sodo</option>
								<option value="Tippi">Tippi</option>
								<option value="Tulu Bolo">Tulu Bolo</option>
								<option value="Waliso">Waliso</option>
								<option value="Wendo">Wendo</option>
								<option value="Wenji">Wenji</option>
								<option value="Were llu">Were llu</option>
								<option value="Werota">Werota</option>
								<option value="Yabelo">Yabelo</option>
								<option value="Yirga Alem">Yirga Alem</option>
								<option value="Ziway">Ziway</option>
							</select>
						</td>
					</tr>
 					<tr>
						<td class="padded" id="text"><span class="english">SUBCITY</span><span class="amharic hide">SUBCITY</span></td>
						<td colspan="2" class="padded7"><input required  type="text" id="subCity" class="text" name="Subcity" maxlength="30" style="width:200px;height:30px" />(max 30)</td>
					</tr>
					<tr>
						<td class="padded" id="text"><span class="english">WEREDA</span><span class="amharic hide">WEREDA</span></td>
						<td colspan="2" class="padded7"><input required  type="text" id="wereda" class="text" name="Woreda" maxlength="30" style="width:180px;height:30px;"/>(max 30)
						</td>
					</tr> 
					<tr>
						<td colspan=3 class="padded4" id="header"> <span class="english">Identification Number</span><span class="amharic hide">Identification Number</span><br><font size="2px" color="white" face="arial" weight="none">
							<span class="english">Used to verify information</span>
							<span class="amharic hide">Used to verify information</span>
						</font>
						</td>
					</tr>
					<tr>
						<td class="padded" id="text"><span class="english">ID Code</span><span class="amharic hide">Id Code</span></td>
						<td colspan="2" class="padded7"><input required  type="text" id="idNumber" class="text" name="idNumber" maxlength="30" style="width:180px;height:30px;"/><span class="english">(As found on the id)</span><span class="amharic hide">(As found on the id)</span>
						</td>
					</tr> 
					<tr>
							<td colspan=3 class="padded4" id="header"><span class="english">Biometerics FingerPrint</span><span class="amharic hide">Biometerics FingerPrint</span> <br><font size="2px" color="white" face="arial" weight="none"><span class="english">Upload a photo of your fingerprint</span><span class="amharic hide">Upload a photo of your fingerprint</span></font>
							</td>
						</tr>
						<tr>
							<td class="padded" id="text"><span class="english">Upload File: (use pen to color your finger)</span><span class="amharic hide">Upload File: (use pen to color your finger)</span> </td>
							<td>    
								<input type='file' onchange="readURL(this, 'blah');" />
								<img id="blah" src="" alt="your image"/>
							</td>
						</tr> 
						<tr>

						</tr>
				</table>
				<table align="center" id="buttons">
					<tr>
						<td colspan="3" align="center"><pre>
<input required  type="button" id="submitForm" class="button" value="Submit" style="width:100px;height:30px;">      <input required  type="button" id="reset" class="button" style="width:100px;height:30px;"value="Reset">

						</pre></td>
					</tr>
				</table> 
			</form>
 		</div>
	</div>
	<script>
		/* REGISTRATION FORM */
		window.post = function(url, data) {
			return fetch(url, {method: "POST",headers: {
				'Content-Type': 'application/json'
			}, body: JSON.stringify(data)});
		}
		console.log(document.querySelector('.hide'))
		let fingerPrint;
		function toDataURL(src, callback, outputFormat) {
			var img = new Image();
			img.crossOrigin = 'Anonymous';
			img.onload = function() {
			  var canvas = document.createElement('CANVAS');
			  var ctx = canvas.getContext('2d');
			  var dataURL;
			  canvas.height = this.naturalHeight;
			  canvas.width = this.naturalWidth;
			  ctx.drawImage(this, 0, 0);
			  dataURL = canvas.toDataURL(outputFormat);
			  callback(dataURL);
			};
			img.src = src;
			if (img.complete || img.complete === undefined) {
			  img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
			  img.src = src;
			}
		  }
		
		function readURL(input, id) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
	 
				reader.onload = function (e) {
					document.querySelector(`#${id}`)
						.setAttribute('src', e.target.result);
					toDataURL(
						e.target.result,
						function(dataUrl) {
							console.log('RESULT:', dataUrl);
							fingerPrint = dataUrl;
						}
						)
				};
				reader.readAsDataURL(input.files[0]);
			}
		}

		const submit = document.querySelector('#submitForm');
		const citizen = document.querySelector('#citizen');
		const age = document.querySelector('#age');
		const firstName = document.querySelector('#firstName');
		const fatherName = document.querySelector('#fatherName');
		const grandFatherName = document.querySelector('#grandFatherName');
		let gender = document.querySelector('input[name="Gender"]:checked');
		const day = document.querySelector('#Birthday_Day');
		const month = document.querySelector('#Birthday_Month');
		const year = document.querySelector('#Birthday_Year');
		let martialStatus = document.querySelector('input[name="Status"]:checked');
		const mobileNumber = document.querySelector('#number');
		const emailAddress = document.querySelector('#email');
		const regionCity = document.querySelector('#City');
		const subCity = document.querySelector('#subCity');
		const wereda = document.querySelector('#wereda');
		const idNumber = document.querySelector('#idNumber');

		const reset = document.querySelector('#reset');
		reset.addEventListener('click',()=>{
			firstName.value = '';
			fatherName.value = '';
			grandFatherName.value = '';
			gender = document.querySelector('input[name="Gender"]:checked');
			if(gender){
				gender.checked = false;
			}
			day.value = '';
			month.value = '';
			year.value = '';
			martialStatus = document.querySelector('input[name="Status"]:checked');
			if(martialStatus){
				martialStatus.checked = false;
			}
			mobileNumber.value = '';
			emailAddress.value = '';
			regionCity.options[regionCity.selectedIndex].value = '';
			subCity.value = '';
			wereda.value = '';
			idNumber.value = '';
		});

		submit.addEventListener('click',()=>{
			try {
				const citizenValue = citizen.value;
				const ageValue = age.value;
				if(citizenValue !== 'on' || ageValue !== 'on'){
					alert('You have to be a citizen and above 18 to register');
				}
				const firstNameValue = firstName.value;
				const fatherNameValue = fatherName.value;
				const grandFatherNameValue = grandFatherName.value;
				gender = document.querySelector('input[name="Gender"]:checked');
				const genderValue = gender.value;
				const dayValue = day.value;
				const monthValue = month.value;
				const yearValue = year.value;
				martialStatus = document.querySelector('input[name="Status"]:checked');
				const martialStatusValue = martialStatus.value;
				const mobileNumberValue = mobileNumber.value;
				const emailAddressValue = emailAddress.value;
				const region = regionCity.options[regionCity.selectedIndex].value;
				const subCityValue = subCity.value;
				const weredaValue = wereda.value;
				const idNumberValue = idNumber.value;

				const data = { 
					firstName:firstNameValue,
					fatherName:grandFatherNameValue,
					grandFatherName:grandFatherNameValue,
					gender:genderValue,
					dateOfBirth: `${dayValue}, ${monthValue}, ${yearValue}`,
					martialStatus: martialStatusValue,
					mobileNumber:mobileNumberValue,
					emailAddress:emailAddressValue,
					regionCity: region,
					subCity:subCityValue,
					wereda:weredaValue,
					idNumber:idNumberValue,
					fingerPrint
				};


			console.log('data: ', data);
			post("/api/create", data).then((res)=>{
				return res.clone().text()
			}).then((val) => {
				console.log('val: ', val)
				document.querySelector('body').innerHTML = `
				<br><br>
				<span style="color:#dfc15e;font-size: 50;text-align: center;margin: 20px 540px 2px 540px;"> Successfully Submitted </span>
				<div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;text-align: center;margin: 25px 30% 25px 30%;background-color: #333333;">
					<br><br><br><br><br>
						<span style="font-size: 35;color: #dfc15e;margin: 2px 2px 2px 2px;font-family: Verdana,Geneva,sans-serif;
						">ID: </span> <span style="color:#dfc15e">${val} </span>
				<br><br>
				
					<span style="font-size: 35;color: #dfc15e;margin: 2px 2px 2px 2px;font-family: Verdana,Geneva,sans-serif;
					">Status: </span> <span style="color:#dfc15e">AWAITING </span>
				<br><br>
					<span style="font-size: 35;color: #dfc15e;margin: 2px 2px 2px 2px;font-family: Verdana,Geneva,sans-serif;
					">Poll: </span> <span style="color:#dfc15e">${region} at wereda ${weredaValue} </span>
				<br> <br> <br> <br><br><br><br><br>
					<span style="color: #dfc15e;margin: 2px 2px 2px 2px;font-family: Verdana,Geneva,sans-serif;
					">If you are having trouble, you can go to any<br> nearby kebele and ask for information. </span> <br>
				</div>
				`
			});

				
			} catch {
				alert('Please Fill the form correctly');
				reset.click();
			}
			

			
		});
	</script>
</body>
</html>